body{
    margin: 0;
    padding: 0;
    
}

.main_header{
    background-color: rgb(65, 62, 64);
    
}


.header1 ul li{
    display: inline-block;
   
}
.header1 ul li a{
    text-decoration:none;
    color: rgb(246, 245, 245);
    margin: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.header2 ul li{
    display: inline-block;
}
.header2 ul li a{
    text-decoration:none;
    color: black;
    margin: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.header_btn{
    color: black;
    /* margin: 1rem; */
    margin-left: 10rem;
}
img{
    width: 99.9%;
    margin: 0;
    padding: 0;
    height: 600px;
}